.header {
  background-color: var(--white);

  @media (max-width: 1150px) {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  &__container {
    @media (max-width: 734px) {
      max-width: 560px;
    }

    @media (max-width: 560px) {
      max-width: 380px;
    }
  }

  &__top {
    display: none;

    @media (max-width: 1150px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 14px;
      padding-bottom: 12px;
      padding-left: 12px;
      min-height: 44px;
    }

    @media (max-width: 560px) {
      padding-top: 9px;
      padding-bottom: 8px;
      padding-left: 0;
      min-height: 32px;
    }
  }

  &__top-block {
    display: none;

    @media (max-width: 1150px) {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      width: 66px;
    }

    @media (max-width: 560px) {
      width: 89px;
      height: 15px;
    }
  }

  &__top-timer {
    display: none;

    @media (max-width: 1150px) {
      display: inline-block;
      width: 33px;
      height: 15px;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      font-weight: 500;
      color: var(--black);
    }
  }

  &__top-wifi {
    @media (max-width: 560px) {
      order: -1;
    }
  }

  &__top-battery {
    @media (max-width: 1150px) {
      transform: rotate(90deg);
    }

    @media (max-width: 560px) {
      width: 40px;
      transform: none;
    }
  }

  &__top-percent {
    @media (max-width: 1150px) {
      display: none;
    }

    @media (max-width: 560px) {
      display: inline;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      font-weight: 500;
      color: var(--black);
    }
  }

  &__bottom {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 14px;
    height: 90px;

    @media (max-width: 1150px) {
      height: 80px;
    }

    @media (max-width: 560px) {
      height: 60px;
    }
  }

  &__logo {
    margin-right: auto;
    width: 171px;

    @media (max-width: 1150px) {
      width: 143px;
    }

    @media (max-width: 560px) {
      width: 100px;
    }
  }

  &__nav {
    margin-right: 266px;

    @media (max-width: 1150px) {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 50;
      margin-right: 0;
      padding: 70px 50px;
      width: min(500px, 75%);
      background-color: var(--white);
      box-shadow: -5px 0 15px 5px rgba(0, 0, 0, 0.2);
      overflow-y: auto;
      opacity: 0;
      visibility: hidden;
      transform-origin: 0 0;
      transform: rotateX(-90deg);
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

      &--active {
        opacity: 1;
        visibility: visible;
        transform: rotate(0);
      }
    }

    @media (max-width: 734px) {
      padding: 70px 36px;
    }

    @media (max-width: 560px) {
      padding: 50px 24px;
      width: max(290px, 70%);
    }

    @media (max-width: 380px) {
      padding-top: 115px;
      padding-left: 30px;
      width: 100%;
      box-shadow: none;
    }
  }

  &__nav-list {
    width: 452px;

    @media (max-width: 1150px) {
      flex-direction: column;
      align-items: flex-start;
      width: auto;
      height: 435px;
    }

    @media (max-width: 560px) {
      height: 350px;
    }
  }

  &__nav-link {
    font-size: 18px;
    font-weight: 500;
    color: var(--black);
    outline-offset: 2px;
    outline: 2px solid transparent;
    transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out;

    &:focus {
      outline-color: var(--primary-green);
    }

    &:hover {
      color: var(--primary-green);
    }

    @media (max-width: 1150px) {
      font-size: 24px;
      font-weight: 600;
    }

    @media (max-width: 560px) {
      font-size: 22px;
      font-weight: 500;
    }
  }

  &__nav-link-arrow {
    fill: var(--black);
    transform: rotate(0deg);
    transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;

    &.nav__menu-btn-arrow--active {
      transform: rotate(180deg);
    }

    @media (max-width: 1150px) {
      vertical-align: middle;
      transform: rotate(-90deg);

      &.nav__menu-btn-arrow--active {
        transform: rotate(0deg);
      }
    }

    @media (max-width: 560px) {
      transform: rotate(0deg);

      &.nav__menu-btn-arrow--active {
        transform: rotate(180deg);
      }
    }
  }

  &__nav-link:hover .header__nav-link-arrow {
    fill: var(--primary-green);
  }

  &__submenu-list {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);

    @media (max-width: 1150px) {
      top: -28px;
      left: 100%;
      right: auto;
      margin-left: 16px;
    }

    @media (max-width: 734px) {
      margin-left: 8px;
    }

    @media (max-width: 560px) {
      top: 100%;
      left: 30%;
      margin-left: 0;
      padding: 16px;
    }
  }

  &__bottom-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 68px;

    @media (max-width: 1150px) {
      width: 70px;
    }

    @media (max-width: 560px) {
      width: 55px;
    }
  }

  &__cart-btn {
    position: relative;
    width: 26px;
    height: 24px;
    text-align: left;
    outline-offset: 2px;
    outline: 1px solid transparent;
    transition: outline-color 0.3s ease-in-out;

    &:focus-visible {
      outline-style: solid;
    }

    &:focus {
      outline-color: var(--neutral-gray);
    }

    &::after {
      content: "2";
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 10px;
      width: 10px;
      height: 10px;
      font-size: 7px;
      font-weight: 500;
      color: var(--white);
      text-align: center;
      background-color: var(--red);
    }

    & svg {
      width: 19px;
      height: 24px;
      fill: var(--black);
      transition: fill 0.3s ease-in-out;
    }

    &:hover svg {
      fill: var(--primary-green);
    }

    @media (max-width: 560px) {
      width: 24px;
      height: 20px;

      & svg {
        width: 16px;
        height: 20px;
      }
    }
  }

  &__profile-btn {
    border: 1px solid var(--neutral-gray);
    border-radius: 24px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    outline-offset: 2px;
    outline: 1px solid transparent;
    transition: outline-color 0.3s ease-in-out;

    &:focus-visible {
      outline-style: solid;
    }

    &:focus {
      outline-color: var(--neutral-gray);
    }

    &:hover {
      outline-color: var(--primary-green);
    }

    @media (max-width: 560px) {
      border-radius: 20px;
      width: 20px;
      height: 20px;
    }
  }

  &__profile-img {
    width: 24px;
    height: 24px;

    @media (max-width: 560px) {
      width: 20px;
      height: 20px;
    }
  }
}

.burger {
  @include burger;
}
