.hero {
  background-color: var(--white);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 32px;
    padding-left: max(15px, calc((100% - 1120px) / 2));

    @media (max-width: 1150px) {
      flex-direction: column;
      padding: 20px 0 48px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 265px;
        height: 5px;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    @media (max-width: 560px) {
      padding-bottom: 42px;

      &::after {
        width: 139px;
        height: 4px;
      }
    }
  }

  &__content {
    margin-top: -10px;
    max-width: 545px;

    @media (max-width: 1150px) {
      margin-top: 0;
      margin-bottom: 40px;
      max-width: 569px;
      text-align: center;
    }

    @media (max-width: 734px) {
      margin-bottom: 50px;
      max-width: 480px;
    }

    @media (max-width: 560px) {
      margin-bottom: 52px;
      max-width: 335px;
    }

    @media (max-width: 380px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__title {
    margin-bottom: 19px;
  }

  &__title-span {
    font-size: 40px;
    font-weight: 400;

    @media (max-width: 734px) {
      font-size: 36px;
    }

    @media (max-width: 560px) {
      font-size: 32px;
    }

    @media (max-width: 380px) {
      font-size: 24px;
    }
  }

  &__title-span--primary {
    font-weight: 900;
    color: var(--primary-green);

    @media (max-width: 560px) {
      font-size: 28px;
    }

    @media (max-width: 380px) {
      font-size: 24px;
    }
  }

  &__text {
    margin-bottom: 48px;
    max-width: 351px;
    line-height: 25px;

    @media (max-width: 1150px) {
      margin: 0 auto;
      margin-bottom: 38px;
    }

    @media (max-width: 734px) {
      margin: 0 auto;
      margin-bottom: 35px;
    }

    @media (max-width: 560px) {
      margin: 0 auto;
      margin-bottom: 30px;
      max-width: 307px;
      line-height: 20px;
    }
  }

  &__btn {
    width: 160px;
  }

  &__img-block {
    position: relative;
    width: 565px;
    height: 682px;
    background-image: url(../images/hero-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 1150px) {
      align-self: flex-end;
      width: 452px;
      height: 530px;
      background-image: url(../images/hero-md.png);
    }

    @media (max-width: 560px) {
      width: 277px;
      height: 348px;
      background-image: url(../images/hero-sm.png);
    }
  }
}

.hero-swiper {
  position: absolute;
  top: 76px;
  right: 80px;
  width: 360px;
  height: 530px;

  @media (max-width: 1150px) {
    top: 59px;
    right: 75px;
    width: 280px;
    height: 412px;
  }

  @media (max-width: 560px) {
    top: 39px;
    right: 29px;
    width: 185px;
    height: 271px;
  }
}

.hero-swiper-slide {
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;

  @media (max-width: 1150px) {
    border-radius: 15px;
  }

  @media (max-width: 560px) {
    border-radius: 10px;
  }
}

.hero-lamp {
  position: absolute;
  bottom: -130px;
  left: 42px;
  width: 174px;
  height: 196px;

  @media (max-width: 1150px) {
    bottom: 95px;
    left: 51px;
  }

  @media (max-width: 734px) {
    bottom: 77px;
    left: 18px;
    width: 80px;
    height: 96px;
  }

  @media (max-width: 560px) {
    bottom: 48px;
  }

  @media (max-width: 380px) {
    display: none;
  }
}

.primary-butterfly {
  position: absolute;
  top: 55px;
  right: 641px;
  width: 92px;
  height: 83px;

  @media (max-width: 1150px) {
    top: 271px;
    right: 56px;
  }

  @media (max-width: 734px) {
    top: 292px;
    right: 36px;
  }

  @media (max-width: 560px) {
    width: 44px;
    height: 38px;
  }

  @media (max-width: 380px) {
    right: 24px;
  }
}

.accent-butterfly {
  position: absolute;
  bottom: 165px;
  left: 273px;
  width: 51px;
  height: 46px;

  @media (max-width: 1150px) {
    top: 411px;
    left: 182px;
  }

  @media (max-width: 734px) {
    left: 66px;
  }

  @media (max-width: 560px) {
    top: 325px;
    width: 35px;
    height: 30px;
  }

  @media (max-width: 380px) {
    left: 40px;
  }
}
