.products {
  background-color: var(--white);

  &__container {
    position: relative;
    z-index: 1;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    @media (max-width: 1150px) {
      padding-top: 38px;
      padding-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 52px;

    @media (max-width: 1150px) {
      display: inline-block;
      margin-bottom: 40px;
      width: 405px;
      line-height: 44px;
    }

    @media (max-width: 734px) {
      width: auto;
    }

    @media (max-width: 560px) {
      line-height: 29px;
    }
  }

  &__card-block {
    display: grid;
    grid-template-rows: repeat(2, 612px);
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 19px;
    margin-bottom: 63px;

    @media (max-width: 1150px) {
      grid-template-rows: repeat(3, 575px);
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 20px;
      margin-bottom: 59px;
    }

    @media (max-width: 734px) {
      grid-template-rows: repeat(3, 480px);
    }

    @media (max-width: 560px) {
      grid-template-rows: 589px repeat(5, 586px);
      grid-template-columns: 1fr;
      margin-bottom: 62px;
    }

    @media (max-width: 380px) {
      grid-template-rows: repeat(6, 519px);
      margin-bottom: 45px;
    }
  }

  &__card {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    text-align: center;

    &:nth-child(n + 7) {
      display: none;
    }

    &--visible:nth-child(n + 7) {
      display: block;
    }
  }

  &__card-img-block {
    position: relative;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 360px;
    height: 450px;
    cursor: pointer;
    overflow: hidden;
    outline: none;

    &:focus .products__card-back {
      transform: perspective(600px) rotateY(0deg);
    }

    &:hover .products__card-back {
      transform: perspective(600px) rotateY(0deg);
    }

    &:focus .products__card-face {
      transform: perspective(600px) rotateY(180deg);
    }

    &:hover .products__card-face {
      transform: perspective(600px) rotateY(180deg);
    }

    @media (max-width: 1150px) {
      width: 342px;
      height: 425px;
    }

    @media (max-width: 734px) {
      width: 255px;
      height: auto;
    }

    @media (max-width: 560px) {
      margin-bottom: 22px;
      width: 350px;
      height: 434px;
    }

    @media (max-width: 380px) {
      width: 290px;
      height: auto;
    }
  }

  &__card-face {
    backface-visibility: hidden;
    transition: transform 0.3s ease-in-out;
  }

  &__card-back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 100%;
    background-color: var(--primary-green);
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    transition: transform 0.6s ease-in-out;
  }

  &__card-back-text {
    font-weight: 500;
    line-height: 25px;
  }

  &__card-title {
    margin-bottom: 18px;
    text-align: left;

    @media (max-width: 1150px) {
      font-size: 22px;
    }

    @media (max-width: 560px) {
      margin-bottom: 21px;
      font-size: 20px;
    }
  }

  &__card-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    width: 100%;

    @media (max-width: 1150px) {
      margin-bottom: 21px;
      height: 24px;
    }

    @media (max-width: 560px) {
      margin-bottom: 23px;
    }
  }

  &__card-discounted-price {
    margin-right: 10px;
    font-size: 24px;
    font-weight: 800;
    line-height: 25px;
    color: var(--neutral-gray);

    @media (max-width: 1150px) {
      margin-right: 5px;
      font-size: 22px;
      line-height: 24px;
    }

    @media (max-width: 560px) {
      font-size: 20px;
    }
  }

  &__card-price {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: var(--platinum-grey);
    text-decoration: line-through;

    @media (max-width: 1150px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__card-reviews {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: var(--neutral-gray);
    text-decoration: underline;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--primary-green);
    }

    &:focus {
      color: var(--primary-green);
      outline: none;
    }

    @media (max-width: 1150px) {
      font-size: 16px;
      line-height: 24px;
    }

    @media (max-width: 560px) {
      font-size: 14px;
    }
  }

  &__btn {
    border-bottom: 3px solid var(--primary-green);
    background: var(--neutral-gray);
  }
}

.products-butterfly {
  position: absolute;
  top: 27px;
  left: 21px;
  width: 119px;
  height: 108px;

  @media (max-width: 1150px) {
    display: none;
  }
}

.leaf-top {
  position: absolute;
  top: -155px;
  right: 0;
  width: 365px;
  height: 461px;

  @media (max-width: 1150px) {
    top: -135px;
    width: 293px;
    height: 375px;
  }

  @media (max-width: 560px) {
    top: -96px;
    width: 260px;
    height: 338px;
  }
}

.leaf-bottom {
  position: absolute;
  bottom: -107px;
  left: 0;
  width: 362px;
  height: 461px;

  @media (max-width: 1150px) {
    bottom: -146px;
    width: 290px;
    height: 375px;
  }

  @media (max-width: 560px) {
    bottom: -150px;
    width: 260px;
    height: 338px;
  }
}
