.subscribe {
  background-image: url("../images/subscr-back-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (max-width: 1150px) {
    background-image: url("../images/subscr-back-md.webp");
  }

  @media (max-width: 734px) {
    background-image: url("../images/subscr-back-sm.webp");
  }

  &__background {
    background: rgba(51, 51, 51, 0.8);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;

    @media (max-width: 1150px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    min-height: 430px;
    background-color: var(--white);

    @media (max-width: 1150px) {
      flex-direction: column-reverse;
      min-height: 886px;
    }

    @media (max-width: 734px) {
      min-height: 800px;
    }

    @media (max-width: 560px) {
      border-radius: 13px;
      min-height: 676px;
    }

    @media (max-width: 380px) {
      min-height: 605px;
    }
  }

  &__img-block {
    border-radius: 20px;
    width: 360px;
    overflow: hidden;

    @media (max-width: 1150px) {
      width: 523px;
    }

    @media (max-width: 560px) {
      border-radius: 13px;
      width: 350px;
    }

    @media (max-width: 380px) {
      width: 290px;
    }
  }

  &__img {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 570px;
    text-align: center;

    @media (max-width: 1150px) {
      padding-top: 42px;
      width: 523px;
    }

    @media (max-width: 560px) {
      width: 350px;
    }

    @media (max-width: 380px) {
      width: 290px;
    }
  }

  &__content-title {
    margin-bottom: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 60px;

    @media (max-width: 1150px) {
      margin-right: 18px;
    }

    @media (max-width: 734px) {
      margin-bottom: 10px;
      line-height: 30px;
    }

    @media (max-width: 560px) {
      margin-right: 8px;
    }

    @media (max-width: 380px) {
      margin-right: 0;
    }
  }

  &__content-text {
    margin-bottom: 38px;
    margin-left: 15px;
    max-width: 414px;
    font-weight: 500;
    line-height: 25px;
    color: var(--black);

    @media (max-width: 1150px) {
      margin-left: 0;
    }

    @media (max-width: 734px) {
      margin-bottom: 35px;
      line-height: 16px;
    }

    @media (max-width: 560px) {
      max-width: 297px;
      line-height: 17px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    width: 100%;

    @media (max-width: 560px) {
      max-width: 241px;
    }
  }

  &__form-label {
    margin-bottom: 36px;
    margin-left: 18px;
    width: 100%;
    height: 44px;

    @media (max-width: 1150px) {
      margin-left: 0;
    }

    @media (max-width: 734px) {
      margin-bottom: 22px;
    }

    @media (max-width: 560px) {
      height: 30px;
    }
  }

  &__form-input {
    border: 1px solid var(--neutral-gray);
    border-radius: 5px;
    padding: 8px 20px 4px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: border-color 0.3s ease-in-out, outline-color 0.3s ease-in-out;

    &:focus {
      outline-color: var(--neutral-gray);
    }

    &:hover {
      border-color: var(--primary-green);
      outline-color: var(--primary-green);
    }

    &::placeholder {
      border-bottom: 1px solid var(--platinum-grey);
      width: 320px;
      color: var(--platinum-grey);
    }

    @media (max-width: 560px) {
      padding-left: 14px;
      padding-top: 4px;
      padding-bottom: 2px;
      font-size: 12px;

      &::placeholder {
        width: 214px;
      }
    }
  }

  &__form-btn {
    margin-top: 12px;
    width: 157px;

    @media (max-width: 560px) {
      margin-top: 14px;
      padding: 5px 23px;
      width: 105px;
      min-height: 28px;
      font-size: 10px;
    }
  }
}

.green-branch {
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 107px;
  height: 113px;

  @media (max-width: 1150px) {
    bottom: -32px;
  }

  @media (max-width: 560px) {
    bottom: -29px;
    width: 57px;
    height: 59px;
  }
}

.primary-circle {
  position: absolute;
  bottom: -168px;
  right: 2px;
  width: 340px;
  height: 340px;

  @media (max-width: 1150px) {
    bottom: -84px;
    right: 8px;
    width: 222px;
    height: 222px;
  }

  @media (max-width: 734px) {
    bottom: -95px;
    right: 0;
  }

  @media (max-width: 560px) {
    bottom: -65px;
    width: 148px;
    height: 148px;
  }
}
