<section class="about" id="about">
  <div class="about__background">
    <div class="outer-container">
      <div class="container about__container">
        <h2 class="second-title about__title">
          About us
        </h2>
        <div class="logo about__logo">
          <img class="about__logo-img" src="./images/svg/logo.svg" alt="Logo" width="171" height="43">
        </div>
        <div class="text about__text">
          <p class="about__paragraph-1">
            At Greenify, we are more than just an e-commerce website; we are a passionate community dedicated to
            fostering
            a
            sustainable and eco-friendly lifestyle.
          </p>
          <p class="about__paragraph-1">
            Our mission is to empower environmentally conscious consumers by offering a curated selection of
            high-quality,
            sustainable products
            that inspire positive change and make a difference in the world.
          </p>
        </div>
        <h3 class="third-title about__third-title">
          Mission Statement
        </h3>
        <div class="text about__text">
          <p class="about__paragraph-2">
            "To be the leading platform for sustainable living, providing eco-friendly products and fostering a green
            community
            that promotes conscious consumption and environmental responsibility."
          </p>
        </div>
        <h3 class="third-title about__third-title">
          Vision Statement
        </h3>
        <div class="text about__text">
          <p class="about__paragraph-3">
            "To create a greener future for generations to come, where every choice matters, and sustainability is at
            the
            core
            of everyday living.
          </p>
          <p class="about__paragraph-3">
            We envision a world where eco-friendly practices are the norm, and together, we can make a significant
            impact
            on
            the health of our planet."
          </p>
        </div>
        <button class="btn btn-reset about__btn">
          read more
        </button>
      </div>
      <svg class="about-primary-butterfly">
        <use xlink:href="./images/sprite.svg#primary-butterfly"></use>
      </svg>
    </div>
  </div>
</section>
