<section class="blogs">
  <div class="outer-container">
    <div class="container blogs__container">
      <h2 class="second-title blogs__title">
        Blogs
      </h2>
      <div class="blogs__card-block">
        <div class="blogs__card">
          <div class="blogs__card-img">
            <picture>
              <source media="(max-width: 560px)" srcset="./images/blogs-sm-1.webp" type="image/webp">
              <source media="(max-width: 560px)" srcset="./images/blogs-sm-1.jpg">
              <source media="(max-width: 1150px)" srcset="./images/blogs-md-1.webp" type="image/webp">
              <source media="(max-width: 1150px)" srcset="./images/blogs-md-1.jpg">
              <source srcset="./images/blogs-bg-1.webp" type="image/webp">
              <img loading="lazy" src="./images/blogs-bg-1.jpg" alt="A group of people" width="360" height="260">
            </picture>
          </div>
          <div class="blogs__card-description">
            <h3 class="third-title blogs__card-title">
              Embracing Sustainability
            </h3>
            <div class="blogs__card-text text">
              The Power of Eco-Friendly Products at Greenify
            </div>
            <button class="btn-reset btn blogs__card-btn" type="button">
              read more
            </button>
          </div>
        </div>
        <div class="blogs__card">
          <div class="blogs__card-img">
            <picture>
              <source media="(max-width: 560px)" srcset="./images/blogs-sm-2.webp" type="image/webp">
              <source media="(max-width: 560px)" srcset="./images/blogs-sm-2.jpg">
              <source media="(max-width: 1150px)" srcset="./images/blogs-md-2.webp" type="image/webp">
              <source media="(max-width: 1150px)" srcset="./images/blogs-md-2.jpg">
              <source srcset="./images/blogs-bg-2.webp" type="image/webp">
              <img loading="lazy" src="./images/blogs-bg-2.jpg" alt="Bamboo leaf" width="360" height="260">
            </picture>
          </div>
          <div class="blogs__card-description">
            <h3 class="third-title blogs__card-title">
              Sustainable Living<br>Made Simple
            </h3>
            <div class="blogs__card-text text">
              How Greenify Helps You Make a Difference
            </div>
            <button class="btn-reset btn blogs__card-btn" type="button">
              read more
            </button>
          </div>
        </div>
        <div class="blogs__card">
          <div class="blogs__card-img">
            <picture>
              <source media="(max-width: 560px)" srcset="./images/blogs-sm-3.webp" type="image/webp">
              <source media="(max-width: 560px)" srcset="./images/blogs-sm-3.jpg">
              <source media="(max-width: 1150px)" srcset="./images/blogs-md-3.webp" type="image/webp">
              <source media="(max-width: 1150px)" srcset="./images/blogs-md-3.jpg">
              <source srcset="./images/blogs-bg-3.webp" type="image/webp">
              <img loading="lazy" src="./images/blogs-bg-3.jpg" alt="Women with eco-shopping" width="360" height="260">
            </picture>
          </div>
          <div class="blogs__card-description">
            <h3 class="third-title blogs__card-title">
              Greenify's Guide to<br>Eco-Friendly Shopping
            </h3>
            <div class="blogs__card-text text">
              Reducing Your Carbon Footprint<br>One Purchase at a Time
            </div>
            <button class="btn-reset btn blogs__card-btn" type="button">
              read more
            </button>
          </div>
        </div>
      </div>
    </div>
    <svg class="white-butterfly">
      <use xlink:href="./images/sprite.svg#white-butterfly"></use>
    </svg>
    <svg class="accent-bg-butterfly">
      <use xlink:href="./images/sprite.svg#accent-bg-butterfly"></use>
    </svg>
    <svg class="white-branch">
      <use xlink:href="./images/sprite.svg#white-branch"></use>
    </svg>
  </div>
</section>
