<footer class="footer" id="footer">
  <div class="container footer__container">
    <div class="logo footer__logo">
      <img class="footer__logo-img" src="./images/svg/logo.svg" alt="Logo" width="171" height="43">
    </div>
    <div class="footer__block">
      <div class="footer__pages">
        <h4 class="fourth-title footer__pages-title">
          Pages
        </h4>
        <nav class="nav footer__nav">
          <ul class="nav__list footer__nav-list list-reset">
            <li class="footer__nav-item">
              <a class="footer__nav-link" href="#">
                Home
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__nav-link" href="#products">
                Shop
              </a>
            </li>
            <li class="footer__nav-item nav__menu-item">
              <button class="btn-reset footer__nav-link nav__menu-btn" type="button">
                Categories
                <svg class="nav__menu-btn-arrow footer__nav-link-arrow">
                  <use xlink:href="./images/sprite.svg#down"></use>
                </svg>
              </button>
              <ul class="list-reset nav__submenu-list footer__submenu-list">
                <li class="nav__submenu-item">
                  <a class="footer__nav-link footer__submenu-link nav__submenu-link" href="#products">
                    Bag
                  </a>
                </li>
                <li class="nav__submenu-item">
                  <a class="footer__nav-link footer__submenu-link nav__submenu-link" href="#products">
                    T-shirts
                  </a>
                </li>
                <li class="nav__submenu-item">
                  <a class="footer__nav-link footer__submenu-link nav__submenu-link" href="#products">
                    Toothbrush
                  </a>
                </li>
                <li class="nav__submenu-item">
                  <a class="footer__nav-link footer__submenu-link nav__submenu-link" href="#products">
                    Pens
                  </a>
                </li>
                <li class="nav__submenu-item">
                  <a class="footer__nav-link footer__submenu-link nav__submenu-link" href="#products">
                    Pencils
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer__nav-item">
              <a class="footer__nav-link" href="#about">
                About us
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__nav-link" href="#footer">
                Contact us
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__contacts">
        <h4 class="fourth-title footer__contacts-title">
          Contact us
        </h4>
        <ul class="list-reset footer__contacts-list">
          <li class="footer__contacts-item">
            <a class="footer__contacts-link" href="tel:+91123456789">
              <svg class="footer__phone-svg">
                <use xlink:href="./images/sprite.svg#phone"></use>
              </svg>
              <span class="footer__phone">
                +91 123456789
              </span>
            </a>
          </li>
          <li class="footer__contacts-item">
            <a class="footer__contacts-link" href="mailto:info@greenify.com">
              <svg class="footer__email-svg">
                <use xlink:href="./images/sprite.svg#mail"></use>
              </svg>
              <span class="footer__email">
                info@greenify.com
              </span>
            </a>
          </li>
          <li class="footer__contacts-item">
            <a class="footer__contacts-link">
              <svg class="footer__address-svg">
                <use xlink:href="./images/sprite.svg#location"></use>
              </svg>
              <span class="footer__address">
                102-Complex, Xyz Road City name, State, 136458
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__social-and-copy">
        <ul class="list-reset footer__social-list">
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" aria-label="Facebook">
              <svg>
                <use xlink:href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" aria-label="Instagram">
              <svg>
                <use xlink:href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" aria-label="Linkedin">
              <svg>
                <use xlink:href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" aria-label="Twitter">
              <svg>
                <use xlink:href="./images/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer__copy">
          <span>
            terms &amp;&nbsp;services
          </span>
          <span>
            Greenify @ all right reserved 2023
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
