<header class="header">
  <div class="container header__container">
    <div class="header__top">
      <span class="header__top-timer">
        <span class="header__top-hours">9</span>
        :
        <span class="header__top-minutes">41</span>
      </span>
      <div class="header__top-block">
        <span class="header__top-reception">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_420_95" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="12"
              height="12">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 12V0L0 12H12Z" fill="white" />
            </mask>
            <g mask="url(#mask0_420_95)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9 0V12H12V0H9Z" fill="#e6e6e6" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6 0V12H9V0H6Z" fill="#e6e6e6" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M3 0V12H6V0H3Z" fill="black" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V12H3V0H0Z" fill="black" />
            </g>
          </svg>
        </span>
        <span class="header__top-wifi">
          <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_420_83" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="16"
              height="12">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V3L8 12L16 3V0H8H0Z" fill="white" />
            </mask>
            <g mask="url(#mask0_420_83)">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M8 0C1.4 0 -4 5.4 -4 12C-4 18.6 1.4 24 8 24C14.6 24 20 18.6 20 12C20 5.4 14.6 0 8 0ZM8 21C3 21 -1 17 -1 12C-1 7 3 3 8 3C13 3 17 7 17 12C17 17 13 21 8 21Z"
                fill="#838383" fill-opacity="0.2" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M8 3C3 3 -1 7 -1 12C-1 17 3 21 8 21C13 21 17 17 17 12C17 7 13 3 8 3ZM8 18C4.7 18 2 15.3 2 12C2 8.7 4.7 6 8 6C11.3 6 14 8.7 14 12C14 15.3 11.3 18 8 18Z"
                fill="black" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M8 6C4.7 6 2 8.7 2 12C2 15.3 4.7 18 8 18C11.3 18 14 15.3 14 12C14 8.7 11.3 6 8 6ZM8 15C6.3 15 5 13.7 5 12C5 10.3 6.3 9 8 9C9.7 9 11 10.3 11 12C11 13.7 9.7 15 8 15Z"
                fill="black" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M8 15C9.65685 15 11 13.6569 11 12C11 10.3431 9.65685 9 8 9C6.34315 9 5 10.3431 5 12C5 13.6569 6.34315 15 8 15Z"
                fill="black" />
            </g>
          </svg>
        </span>
        <span class="header__top-battery">
          <span class="header__top-percent">
            50%
          </span>
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_420_103" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="8"
              height="14">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M7 1.5H6V0.5H2V1.5H1C0.4 1.5 0 1.9 0 2.5V12.5C0 13.1 0.4 13.5 1 13.5H7C7.6 13.5 8 13.1 8 12.5V2.5C8 1.9 7.6 1.5 7 1.5Z"
                fill="white" />
            </mask>
            <g mask="url(#mask0_420_103)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 10.5V13.5H8V10.5H0Z" fill="black" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 7.5V10.5H8V7.5H0Z" fill="black" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.5V7.5H8V4.5H0Z" fill="#e6e6e6" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.5V4.5H8V1.5H0Z" fill="#e6e6e6" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M2 0.5V1.5H6V0.5H2Z" fill="#e6e6e6" />
            </g>
          </svg>
        </span>
      </div>
    </div>
    <div class="header__bottom">
      <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" type="button">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
      <div class="logo header__logo">
        <img src="./images/svg/logo.svg" alt="Logo" width="171" height="43">
      </div>
      <nav class="nav header__nav">
        <ul class="nav__list header__nav-list list-reset">
          <li class="header__nav-item item-js">
            <a class="header__nav-link" href="#">
              Home
            </a>
          </li>
          <li class="header__nav-item item-js">
            <a class="header__nav-link" href="#products">
              Shop
            </a>
          </li>
          <li class="header__nav-item nav__menu-item">
            <button class="btn-reset header__nav-link nav__menu-btn" type="button">
              Categories
              <svg class="nav__menu-btn-arrow header__nav-link-arrow">
                <use xlink:href="./images/sprite.svg#down"></use>
              </svg>
            </button>
            <ul class="list-reset nav__submenu-list header__submenu-list">
              <li class="nav__submenu-item item-js">
                <a class="header__nav-link nav__submenu-link" href="#products">
                  Bag
                </a>
              </li>
              <li class="nav__submenu-item item-js">
                <a class="header__nav-link nav__submenu-link" href="#products">
                  T-shirts
                </a>
              </li>
              <li class="nav__submenu-item item-js">
                <a class="header__nav-link nav__submenu-link" href="#products">
                  Toothbrush
                </a>
              </li>
              <li class="nav__submenu-item item-js">
                <a class="header__nav-link nav__submenu-link" href="#products">
                  Pens
                </a>
              </li>
              <li class="nav__submenu-item item-js">
                <a class="header__nav-link nav__submenu-link" href="#products">
                  Pencils
                </a>
              </li>
            </ul>
          </li>
          <li class="header__nav-item item-js">
            <a class="header__nav-link" href="#about">
              About us
            </a>
          </li>
          <li class="header__nav-item item-js">
            <a class="header__nav-link" href="#footer">
              Contact us
            </a>
          </li>
        </ul>
      </nav>
      <div class="header__bottom-block">
        <button class="header__cart-btn btn-reset" aria-label="Cart" type="button">
          <svg>
            <use xlink:href="./images/sprite.svg#cart"></use>
          </svg>
        </button>
        <button class="header__profile-btn btn-reset" type="button">
          <picture>
            <source media="(max-width: 734px)" srcset="./images/profile-sm.webp" type="image/webp">
            <source media="(max-width: 734px)" srcset="./images/profile-sm.jpg">
            <source srcset="./images/profile-bg.webp" type="image/webp">
            <img class="header__profile-img" src="./images/profile-bg.jpg" alt="Client's photo" width="24" height="24">
          </picture>
        </button>
      </div>
    </div>
  </div>
</header>
