<section class="hero">
  <div class="outer-container">
    <div class="container hero__container">
      <div class="hero__content">
        <h1 class="first-title hero__title">
          Welcome to Greenify
          <span class="hero__title-span">
            Your Sustainable
          </span>
          <span class="hero__title-primary-span">
            Shopping Destination
          </span>
        </h1>
        <div class="text hero__text">
          "Discover Sustainability. Embrace Greenify.
          Your Eco-Friendly Haven for Conscious Shopping."
        </div>
        <button class="btn btn-reset hero__btn">
          shop now
        </button>
      </div>
    </div>
    <div class="hero__image">
      <picture>
        <source media="(max-width: 560px)" srcset="./images/hero-sm.webp" type="image/webp">
        <source media="(max-width: 560px)" srcset="./images/hero-sm.png">
        <source media="(max-width: 1150px)" srcset="./images/hero-md.webp" type="image/webp">
        <source media="(max-width: 1150px)" srcset="./images/hero-md.png">
        <source srcset="./images/hero-bg.webp" type="image/webp">
        <img src="./images/hero-bg.png" alt="Paper bag" width="565" height="682">
      </picture>
    </div>
    <svg class="primary-butterfly">
      <use xlink:href="./images/sprite.svg#primary-butterfly"></use>
    </svg>
    <svg class="accent-butterfly">
      <use xlink:href="./images/sprite.svg#accent-butterfly"></use>
    </svg>
    <svg class="hero-lamp">
      <use xlink:href="./images/sprite.svg#hero-lamp"></use>
    </svg>
  </div>
</section>
