<section class="products" id="products">
  <div class="outer-container">
    <div class="container products__container">
      <h2 class="second-title products__title">
        Our Best-Selling Sustainable Products
      </h2>
      <div class="products__card-block">
        <div class="products__card">
          <div class="products__card-img-block" tabindex="0">
            <picture class="products__card-face">
              <source media="(max-width: 560px)" srcset="./images/product-sm-1.webp" type="image/webp">
              <source media="(max-width: 560px)" srcset="./images/product-sm-1.jpg">
              <source media="(max-width: 1150px)" srcset="./images/product-md-1.webp" type="image/webp">
              <source media="(max-width: 1150px)" srcset="./images/product-md-1.jpg">
              <source srcset="./images/product-bg-1.webp" type="image/webp">
              <img loading="lazy" src="./images/product-bg-1.jpg" alt="Organic cotton tote bag" width="360"
                height="450">
            </picture>
            <div class="products__card-back">
              <div class="products__card-back-text text">
                Experience eco-conscious convenience
                with our Organic Cotton Tote Bag.
                Crafted from 100% organic cotton,
                this versatile accessory not only
                complements your sustainable lifestyle
                but also helps reduce plastic waste.
                With its spacious design and sturdy
                construction, it's the perfect eco-friendly
                companion for shopping trips, outings,
                and daily errands."
              </div>
            </div>
          </div>
          <h3 class="third-title products__card-title">
            Organic cotton tote bag
          </h3>
          <div class="products__card-info">
            <span class="products__card-price-block">
              <span class="products__card-discounted-price">
                50 Rs.
              </span>
              <span class="products__card-price">
                70 Rs.
              </span>
            </span>
            <button class="btn-reset products__card-reviews">
              235 Reviews
            </button>
          </div>
          <button class="btn btn-reset products__card-btn">
            buy now
          </button>
        </div>
        <div class="products__card">
          <div class="products__card-img-block" tabindex="0">
            <picture class="products__card-face">
              <source media="(max-width: 560px)" srcset="./images/product-sm-2.webp" type="image/webp">
              <source media="(max-width: 560px)" srcset="./images/product-sm-2.jpg">
              <source media="(max-width: 1150px)" srcset="./images/product-md-2.webp" type="image/webp">
              <source media="(max-width: 1150px)" srcset="./images/product-md-2.jpg">
              <source srcset="./images/product-bg-2.webp" type="image/webp">
              <img loading="lazy" src="./images/product-bg-2.jpg" alt="Hemp backpack" width="360" height="450">
            </picture>
            <div class="products__card-back">
              <div class="products__card-back-text text">
                Embrace sustainable adventure with our
                Hemp Backpack - a conscious choice for
                nature enthusiasts. Made from durable
                hemp fabric, this eco-friendly backpack is
                designed to withstand the elements while
                minimizing environmental impact.
                With ample storage and ergonomic design.
              </div>
            </div>
          </div>
          <h3 class="third-title products__card-title">
            Hemp backpack
          </h3>
          <div class="products__card-info">
            <span class="products__card-price-block">
              <span class="products__card-discounted-price">
                999 Rs.
              </span>
              <span class="products__card-price">
                1199 Rs.
              </span>
            </span>
            <button class="btn-reset products__card-reviews">
              729 Reviews
            </button>
          </div>
          <button class="btn btn-reset products__card-btn">
            buy now
          </button>
        </div>
        <div class="products__card">
          <div class="products__card-img-block" tabindex="0">
            <picture class="products__card-face">
              <source media="(max-width: 560px)" srcset="./images/product-sm-3.webp" type="image/webp">
              <source media="(max-width: 560px)" srcset="./images/product-sm-3.jpg">
              <source media="(max-width: 1150px)" srcset="./images/product-md-3.webp" type="image/webp">
              <source media="(max-width: 1150px)" srcset="./images/product-md-3.jpg">
              <source srcset="./images/product-bg-3.webp" type="image/webp">
              <img loading="lazy" src="./images/product-bg-3.jpg" alt="Organic cotton T-shirts" width="360"
                height="450">
            </picture>
            <div class="products__card-back">
              <div class="products__card-back-text text">
                Indulge in eco-friendly comfort with
                our Organic Cotton T-Shirts.
                Crafted from 100% organic cotton,
                these soft and breathable shirts are gentle
                on your skin and kind to the planet.
                With a timeless design and sustainable
                materials, they are the perfect addition to
                your conscious wardrobe, promoting
                a greener and more stylish lifestyle.
              </div>
            </div>
          </div>
          <h3 class="third-title products__card-title">
            Organic cotton T-shirts
          </h3>
          <div class="products__card-info">
            <span class="products__card-price-block">
              <span class="products__card-discounted-price">
                499 Rs.
              </span>
              <span class="products__card-price">
                699 Rs.
              </span>
            </span>
            <button class="btn-reset products__card-reviews">
              825 Reviews
            </button>
          </div>
          <button class="btn btn-reset products__card-btn">
            buy now
          </button>
        </div>
        <div class="products__card">
          <div class="products__card-img-block" tabindex="0">
            <picture class="products__card-face">
              <source media="(max-width: 560px)" srcset="./images/product-sm-4.webp" type="image/webp">
              <source media="(max-width: 560px)" srcset="./images/product-sm-4.jpg">
              <source media="(max-width: 1150px)" srcset="./images/product-md-4.webp" type="image/webp">
              <source media="(max-width: 1150px)" srcset="./images/product-md-4.jpg">
              <source srcset="./images/product-bg-4.webp" type="image/webp">
              <img loading="lazy" src="./images/product-bg-4.jpg" alt="Bamboo toothbrush" width="360" height="450">
            </picture>
            <div class="products__card-back">
              <div class="products__card-back-text text">
                Upgrade your oral care routine with our
                Bamboo Toothbrush - an eco-friendly
                alternative for a brighter smile and a cleaner
                planet. Crafted from sustainable bamboo and
                BPA-free bristles, this toothbrush offers
                a gentle yet effective cleaning experience.
                Join the movement towards reducing
                plastic waste and embrace sustainable
                dental care with every brush.
              </div>
            </div>
          </div>
          <h3 class="third-title products__card-title">
            Bamboo toothbrush
          </h3>
          <div class="products__card-info">
            <span class="products__card-price-block">
              <span class="products__card-discounted-price">
                99 Rs.
              </span>
              <span class="products__card-price">
                149 Rs.
              </span>
            </span>
            <button class="btn-reset products__card-reviews">
              248 Reviews
            </button>
          </div>
          <button class="btn btn-reset products__card-btn">
            buy now
          </button>
        </div>
        <div class="products__card">
          <div class="products__card-img-block" tabindex="0">
            <picture class="products__card-face">
              <source media="(max-width: 560px)" srcset="./images/product-sm-5.webp" type="image/webp">
              <source media="(max-width: 560px)" srcset="./images/product-sm-5.jpg">
              <source media="(max-width: 1150px)" srcset="./images/product-md-5.webp" type="image/webp">
              <source media="(max-width: 1150px)" srcset="./images/product-md-5.jpg">
              <source srcset="./images/product-bg-5.webp" type="image/webp">
              <img loading="lazy" src="./images/product-bg-5.jpg" alt="Bamboo pens and pencils" width="360"
                height="450">
            </picture>
            <div class="products__card-back">
              <div class="products__card-back-text text">
                Experience the power of sustainability in
                every stroke with our Bamboo Pens and
                Pencils. Crafted from renewable bamboo,
                these writing instruments are not only
                eco-friendly but also offer a smooth and
                comfortable writing experience. Embrace
                conscious stationery choices that leave
                a positive impact on the environment.
              </div>
            </div>
          </div>
          <h3 class="third-title products__card-title">
            Bamboo pens and pencils
          </h3>
          <div class="products__card-info">
            <span class="products__card-price-block">
              <span class="products__card-discounted-price">
                49 Rs.
              </span>
              <span class="products__card-price">
                89 Rs.
              </span>
            </span>
            <button class="btn-reset products__card-reviews">
              1256 Reviews
            </button>
          </div>
          <button class="btn btn-reset products__card-btn">
            buy now
          </button>
        </div>
        <div class="products__card">
          <div class="products__card-img-block" tabindex="0">
            <picture class="products__card-face">
              <source media="(max-width: 560px)" srcset="./images/product-sm-6.webp" type="image/webp">
              <source media="(max-width: 560px)" srcset="./images/product-sm-6.jpg">
              <source media="(max-width: 1150px)" srcset="./images/product-md-6.webp" type="image/webp">
              <source media="(max-width: 1150px)" srcset="./images/product-md-6.jpg">
              <source srcset="./images/product-bg-6.webp" type="image/webp">
              <img loading="lazy" src="./images/product-bg-6.jpg" alt="Jute grocery bag" width="360" height="450">
            </picture>
            <div class="products__card-back">
              <div class="products__card-back-text text">
                Make grocery shopping greener and easier
                with our Jute Grocery Bag. Crafted from
                natural jute fibers, this sturdy and reusable
                bag is the perfect eco-conscious companion
                for your sustainable lifestyle.
                Ditch single-use plastics and opt for this
                eco-friendly alternative to carry your
                groceries while reducing plastic waste.
              </div>
            </div>
          </div>
          <h3 class="third-title products__card-title">
            Jute grocery bag
          </h3>
          <div class="products__card-info">
            <span class="products__card-price-block">
              <span class="products__card-discounted-price">
                59 Rs.
              </span>
              <span class="products__card-price">
                89 Rs.
              </span>
            </span>
            <button class="btn-reset products__card-reviews">
              895 Reviews
            </button>
          </div>
          <button class="btn btn-reset products__card-btn">
            buy now
          </button>
        </div>
        <div class="products__card">
          <div class="products__card-img-block" tabindex="0">
            <picture class="products__card-face">
              <source media="(max-width: 560px)" srcset="./images/product-sm-1.webp" type="image/webp">
              <source media="(max-width: 560px)" srcset="./images/product-sm-1.jpg">
              <source media="(max-width: 1150px)" srcset="./images/product-md-1.webp" type="image/webp">
              <source media="(max-width: 1150px)" srcset="./images/product-md-1.jpg">
              <source srcset="./images/product-bg-1.webp" type="image/webp">
              <img loading="lazy" src="./images/product-bg-1.jpg" alt="Organic cotton tote bag" width="360"
                height="450">
            </picture>
            <div class="products__card-back">
              <div class="products__card-back-text text">
                Experience eco-conscious convenience
                with our Organic Cotton Tote Bag.
                Crafted from 100% organic cotton,
                this versatile accessory not only
                complements your sustainable lifestyle
                but also helps reduce plastic waste.
                With its spacious design and sturdy
                construction, it's the perfect eco-friendly
                companion for shopping trips, outings,
                and daily errands."
              </div>
            </div>
          </div>
          <h3 class="third-title products__card-title">
            Organic cotton tote bag
          </h3>
          <div class="products__card-info">
            <span class="products__card-price-block">
              <span class="products__card-discounted-price">
                50 Rs.
              </span>
              <span class="products__card-price">
                70 Rs.
              </span>
            </span>
            <button class="btn-reset products__card-reviews">
              235 Reviews
            </button>
          </div>
          <button class="btn btn-reset products__card-btn">
            buy now
          </button>
        </div>
        <div class="products__card">
          <div class="products__card-img-block" tabindex="0">
            <picture class="products__card-face">
              <source media="(max-width: 560px)" srcset="./images/product-sm-2.webp" type="image/webp">
              <source media="(max-width: 560px)" srcset="./images/product-sm-2.jpg">
              <source media="(max-width: 1150px)" srcset="./images/product-md-2.webp" type="image/webp">
              <source media="(max-width: 1150px)" srcset="./images/product-md-2.jpg">
              <source srcset="./images/product-bg-2.webp" type="image/webp">
              <img loading="lazy" src="./images/product-bg-2.jpg" alt="Hemp backpack" width="360" height="450">
            </picture>
            <div class="products__card-back">
              <div class="products__card-back-text text">
                Embrace sustainable adventure with our
                Hemp Backpack - a conscious choice for
                nature enthusiasts. Made from durable
                hemp fabric, this eco-friendly backpack is
                designed to withstand the elements while
                minimizing environmental impact.
                With ample storage and ergonomic design.
              </div>
            </div>
          </div>
          <h3 class="third-title products__card-title">
            Hemp backpack
          </h3>
          <div class="products__card-info">
            <span class="products__card-price-block">
              <span class="products__card-discounted-price">
                999 Rs.
              </span>
              <span class="products__card-price">
                1199 Rs.
              </span>
            </span>
            <button class="btn-reset products__card-reviews">
              729 Reviews
            </button>
          </div>
          <button class="btn btn-reset products__card-btn">
            buy now
          </button>
        </div>
        <div class="products__card">
          <div class="products__card-img-block" tabindex="0">
            <picture class="products__card-face">
              <source media="(max-width: 560px)" srcset="./images/product-sm-3.webp" type="image/webp">
              <source media="(max-width: 560px)" srcset="./images/product-sm-3.jpg">
              <source media="(max-width: 1150px)" srcset="./images/product-md-3.webp" type="image/webp">
              <source media="(max-width: 1150px)" srcset="./images/product-md-3.jpg">
              <source srcset="./images/product-bg-3.webp" type="image/webp">
              <img loading="lazy" src="./images/product-bg-3.jpg" alt="Organic cotton T-shirts" width="360"
                height="450">
            </picture>
            <div class="products__card-back">
              <div class="products__card-back-text text">
                Indulge in eco-friendly comfort with
                our Organic Cotton T-Shirts.
                Crafted from 100% organic cotton,
                these soft and breathable shirts are gentle
                on your skin and kind to the planet.
                With a timeless design and sustainable
                materials, they are the perfect addition to
                your conscious wardrobe, promoting
                a greener and more stylish lifestyle.
              </div>
            </div>
          </div>
          <h3 class="third-title products__card-title">
            Organic cotton T-shirts
          </h3>
          <div class="products__card-info">
            <span class="products__card-price-block">
              <span class="products__card-discounted-price">
                499 Rs.
              </span>
              <span class="products__card-price">
                699 Rs.
              </span>
            </span>
            <button class="btn-reset products__card-reviews">
              825 Reviews
            </button>
          </div>
          <button class="btn btn-reset products__card-btn">
            buy now
          </button>
        </div>
        <div class="products__card">
          <div class="products__card-img-block" tabindex="0">
            <picture class="products__card-face">
              <source media="(max-width: 560px)" srcset="./images/product-sm-4.webp" type="image/webp">
              <source media="(max-width: 560px)" srcset="./images/product-sm-4.jpg">
              <source media="(max-width: 1150px)" srcset="./images/product-md-4.webp" type="image/webp">
              <source media="(max-width: 1150px)" srcset="./images/product-md-4.jpg">
              <source srcset="./images/product-bg-4.webp" type="image/webp">
              <img loading="lazy" src="./images/product-bg-4.jpg" alt="Bamboo toothbrush" width="360" height="450">
            </picture>
            <div class="products__card-back">
              <div class="products__card-back-text text">
                Upgrade your oral care routine with our
                Bamboo Toothbrush - an eco-friendly
                alternative for a brighter smile and a cleaner
                planet. Crafted from sustainable bamboo and
                BPA-free bristles, this toothbrush offers
                a gentle yet effective cleaning experience.
                Join the movement towards reducing
                plastic waste and embrace sustainable
                dental care with every brush.
              </div>
            </div>
          </div>
          <h3 class="third-title products__card-title">
            Bamboo toothbrush
          </h3>
          <div class="products__card-info">
            <span class="products__card-price-block">
              <span class="products__card-discounted-price">
                99 Rs.
              </span>
              <span class="products__card-price">
                149 Rs.
              </span>
            </span>
            <button class="btn-reset products__card-reviews">
              248 Reviews
            </button>
          </div>
          <button class="btn btn-reset products__card-btn">
            buy now
          </button>
        </div>
        <div class="products__card">
          <div class="products__card-img-block" tabindex="0">
            <picture class="products__card-face">
              <source media="(max-width: 560px)" srcset="./images/product-sm-5.webp" type="image/webp">
              <source media="(max-width: 560px)" srcset="./images/product-sm-5.jpg">
              <source media="(max-width: 1150px)" srcset="./images/product-md-5.webp" type="image/webp">
              <source media="(max-width: 1150px)" srcset="./images/product-md-5.jpg">
              <source srcset="./images/product-bg-5.webp" type="image/webp">
              <img loading="lazy" src="./images/product-bg-5.jpg" alt="Bamboo pens and pencils" width="360"
                height="450">
            </picture>
            <div class="products__card-back">
              <div class="products__card-back-text text">
                Experience the power of sustainability in
                every stroke with our Bamboo Pens and
                Pencils. Crafted from renewable bamboo,
                these writing instruments are not only
                eco-friendly but also offer a smooth and
                comfortable writing experience. Embrace
                conscious stationery choices that leave
                a positive impact on the environment.
              </div>
            </div>
          </div>
          <h3 class="third-title products__card-title">
            Bamboo pens and pencils
          </h3>
          <div class="products__card-info">
            <span class="products__card-price-block">
              <span class="products__card-discounted-price">
                49 Rs.
              </span>
              <span class="products__card-price">
                89 Rs.
              </span>
            </span>
            <button class="btn-reset products__card-reviews">
              1256 Reviews
            </button>
          </div>
          <button class="btn btn-reset products__card-btn">
            buy now
          </button>
        </div>
        <div class="products__card">
          <div class="products__card-img-block" tabindex="0">
            <picture class="products__card-face">
              <source media="(max-width: 560px)" srcset="./images/product-sm-6.webp" type="image/webp">
              <source media="(max-width: 560px)" srcset="./images/product-sm-6.jpg">
              <source media="(max-width: 1150px)" srcset="./images/product-md-6.webp" type="image/webp">
              <source media="(max-width: 1150px)" srcset="./images/product-md-6.jpg">
              <source srcset="./images/product-bg-6.webp" type="image/webp">
              <img loading="lazy" src="./images/product-bg-6.jpg" alt="Jute grocery bag" width="360" height="450">
            </picture>
            <div class="products__card-back">
              <div class="products__card-back-text text">
                Make grocery shopping greener and easier
                with our Jute Grocery Bag. Crafted from
                natural jute fibers, this sturdy and reusable
                bag is the perfect eco-conscious companion
                for your sustainable lifestyle.
                Ditch single-use plastics and opt for this
                eco-friendly alternative to carry your
                groceries while reducing plastic waste.
              </div>
            </div>
          </div>
          <h3 class="third-title products__card-title">
            Jute grocery bag
          </h3>
          <div class="products__card-info">
            <span class="products__card-price-block">
              <span class="products__card-discounted-price">
                59 Rs.
              </span>
              <span class="products__card-price">
                89 Rs.
              </span>
            </span>
            <button class="btn-reset products__card-reviews">
              895 Reviews
            </button>
          </div>
          <button class="btn btn-reset products__card-btn">
            buy now
          </button>
        </div>
      </div>
      <button class="btn-reset btn products__btn">
        explore more
      </button>
    </div>
    <svg class="products-butterfly">
      <use xlink:href="./images/sprite.svg#products-butterfly"></use>
    </svg>
    <svg class="leaf-top">
      <use xlink:href="./images/sprite.svg#leaf-top"></use>
    </svg>
    <svg class="leaf-bottom">
      <use xlink:href="./images/sprite.svg#leaf-bottom"></use>
    </svg>
  </div>
</section>
