<section class="why">
  <div class="container why__container">
    <h2 class="second-title why__title">
      Why Choose Greenify?
    </h2>
    <div class="why__card-block">
      <div class="why__card">
        <img class="why__card-img" src="./images/svg/why-1.svg" alt="Icon" width="110" height="110">
        <h3 class="third-title why__card-title">
          Sustainable Products
        </h3>
        <div class="text why__card-text">
          Explore our carefully curated
          selection of sustainable products,
          each designed to reduce your
          carbon footprint
        </div>
      </div>
      <div class="why__card">
        <img class="why__card-img" src="./images/svg/why-2.svg" alt="Icon" width="110" height="110">
        <h3 class="third-title why__card-title">
          Eco-Friendly Choices
        </h3>
        <div class="text why__card-text">
          Make conscious choices with our
          eco-friendly products, knowing
          that your purchases promote ethical
          sourcing and responsible
          manufacturing practices.
        </div>
      </div>
      <div class="why__card">
        <img class="why__card-img" src="./images/svg/why-3.svg" alt="Icon" width="110" height="110">
        <h3 class="third-title why__card-title">
          High-Quality Selection
        </h3>
        <div class="text why__card-text">
          Invest in long-lasting and reliable
          products that meet our stringent
          quality standards, ensuring your
          satisfaction and the longevity of
          your purchases.
        </div>
      </div>
      <div class="why__card">
        <img class="why__card-img" src="./images/svg/why-4.svg" alt="Icon" width="110" height="110">
        <h3 class="third-title why__card-title">
          Sustainable Packaging
        </h3>
        <div class="text why__card-text">
          Our sustainable packaging ensures
          that your orders arrive safely
          while minimizing their impact on
          the planet.
        </div>
      </div>
    </div>
  </div>
</section>
