html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--gainsboro);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border-bottom: 3px solid var(--neutral-gray);
  padding: 8px 16px;
  min-height: 42px;
  font-size: 16px;
  font-weight: 800;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--primary-green);
  outline-offset: 3px;
  outline: 1px solid transparent;
  transition: background-color 0.3s ease-in-out, outline-color 0.3s ease-in-out;

  &:focus-visible {
    outline-style: solid;
  }

  &:focus {
    outline-color: var(--neutral-gray);
  }

  &:hover {
    background-color: var(--accent-green);
  }
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: var(--white);

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.outer-container {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;

  @media (max-width: 1150px) {
    max-width: 744px;
  }

  @media (max-width: 560px) {
    max-width: 390px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1150px;

  @media (max-width: 1150px) {
    max-width: 734px;
  }

  @media (max-width: 560px) {
    max-width: 380px;
  }
}

.first-title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 80px;
  color: var(--black);

  @media (max-width: 1150px) {
    line-height: 70px;
    text-align: center;
  }

  @media (max-width: 734px) {
    font-size: 40px;
    line-height: 60px;
  }

  @media (max-width: 560px) {
    font-size: 28px;
    line-height: 50px;
  }

  @media (max-width: 380px) {
    font-size: 26px;
    line-height: 45px;
  }
}

.second-title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: var(--neutral-gray);
  text-align: center;

  @media (max-width: 560px) {
    font-size: 24px;
  }
}

.third-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--neutral-gray);
}

.fourth-title {
  margin: 0;
  font-size: 24px;
  font-weight: 800;
  color: var(--white);

  @media (max-width: 560px) {
    font-size: 20px;
    font-weight: 700;
  }
}

.text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--neutral-gray);

  @media (max-width: 560px) {
    font-size: 14px;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 265px;
  height: 80px;
  background-color: var(--white);

  @media (max-width: 560px) {
    border-radius: 5px;
    width: 132px;
    height: 40px;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu-item {
    position: relative;
  }

  &__menu-btn {
    width: 100%;
    height: 100%;

    &:focus-visible {
      outline-style: solid;
      outline-width: 2px;
    }
  }

  &__menu-btn-arrow {
    width: 16px;
    height: 10px;
    pointer-events: none;
  }

  &__submenu-list {
    position: absolute;
    top: 100%;
    right: -4px;
    z-index: 10;
    display: block;
    border-radius: 0 0 10px 10px;
    padding: 30px;
    width: 200px;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    @media (max-width: 560px) {
      margin-top: 8px;
      padding: 16px;
    }
  }

  &__submenu-list--dropdown {
    opacity: 1;
    visibility: visible;
    transform: rotate(0);
  }

  &__submenu-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

.stop-scroll {
  overflow: hidden;
}
