:root {
  // colors
  --white: #fff;
  --black: #000;
  --neutral-gray: #333;
  --primary-green: #55b76b;
  --accent-green: #8bd2a0;
  --red: #f10000;
  --platinum-grey: #767676;
  --sunglow: #ffce31;
  --gainsboro: #d9d9d9;
}
